.songs {
  display: flex;
  margin: 10%;
  padding: 1rem;
  border-style: solid;
  border-color: red;
}
.likeButton {
  height: 40%;
  width: 30%;
}

.songCoverArt {
  float: left;
  max-width: 30%;
  height: auto;
}

.bandImage {
  max-width: 50%;
}

.bandCard {
  border-style: solid;
  margin: 10%;
}
